body {
    margin: 0px;
    text-align: center;
}
.container{
    margin: auto;
    
}
img{
    width: 100px;
    display: block;
    float: left;
    margin: 30px;
    display: block;
    margin-top: 40px;

}
h3{
    display: inline;
    position: relative;
    


}
.right{
    clear: both;
}
.right img{
    float: right;
    margin: 30px;
}